body {
    width: 610px;
    height: 320px;
    background: black;
    color: white;
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}
p{
    color:white;
    font-size: 30px;
}

div {
    font-family: myFirstFont;
            font-size: 30px;

}