body {
    width: 410px;
    height: 320px;
}
#fondo{
    width: 610px;
  height: 470px;
  background-image: url(../imagenes/urra.png), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
  background: -moz-linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), -webkit-gradient(to right, rgba(255,255,255, 1), rgba(255, 255, 255, 0)), -ms-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, rgbaa(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

