body {
    width: 410px;
    height: 320px;
    color: white;
}
p{
    font-size: 30px;
}
a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}